---
import Navbar from "../components/Navbar.astro";
import { getUrl } from "../util/path";
---

<html>
  <link rel="icon" type="image/x-icon" href=`${getUrl('ec_logo.svg')}` />
  <title>About</title>
  <body>
    <Navbar />
    <main class="container">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
        consectetur eius. Excepturi perferendis, exercitationem sit molestiae
        cupiditate in, ex fugiat voluptatibus quaerat magni sint architecto
        molestias dolorem possimus alias distinctio!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nulla
        doloremque neque consequuntur, impedit fuga minus, ipsum excepturi
        provident eos sit blanditiis. Omnis inventore odit, id natus velit
        commodi voluptas?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni non
        itaque rem odit quas excepturi distinctio, ad numquam ipsum inventore
        ratione necessitatibus illo, quo sit omnis aut, voluptas provident
        officiis! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus nihil vero voluptates, ullam magni et harum adipisci
        repellendus aspernatur id fugiat quas doloribus a eaque atque tenetur
        sunt? Provident, ab.
      </p>
    </main>
  </body>
</html>
<style>
  .container {
    max-width: 800px;
    margin: auto;
  }

  body {
    margin: 0;
  }
</style>
