---
import { RecordList } from "@cu-mkp/editioncrafter";
import Navbar from "../components/Navbar.astro";
import config from "../../data/config.json";
import { getUrl } from '../util/path'
---

<html>
  <link rel="icon" type="image/x-icon" href=`${getUrl('ec_logo.svg')}` />
  <title>Record List</title>
  <body>
    <Navbar />
    {
      config.dbUrl ? (
        <RecordList
          client:only="react"
          dbUrl={config.dbUrl}
          recordLabel={config.recordLabel}
          viewerUrl={config.viewerUrl}
        />
      ) : (
        <p>No database configured.</p>
      )
    }
  </body>
</html>
<style>
  body {
    margin: 0;
  }
</style>
